[submodule "cloned/mustache.php"]
	path = cloned/mustache.php
	url = https://github.com/bobthecow/mustache.php.git
[submodule "cloned/mustache-php"]
	path = cloned/mustache-php
	url = https://github.com/dingram/mustache-php.git
[submodule "cloned/handlebars.php"]
	path = cloned/handlebars.php
	url = https://github.com/XaminProject/handlebars.php.git
[submodule "cloned/lightncandy"]
	path = cloned/lightncandy
	url = https://github.com/zordius/lightncandy.git
