Hello {{winner.name}}, you have just won ${{winner.value}}!
{{#test}}
Line 1
{{/test}}
This is a test, test = {{test}}
{{#test}}
Line 2
{{/test}}
{{^test}}
Line 3
{{/test}}
{{^test}}
Line 4
{{/test}}
{{#test}}
Line 5
{{/test}}
{{^test}}
Line 6
{{/test}}
---- double section ----
{{#sec}}
{{name}}:{{value}}
{{#sec}}-- {{name}}, {{value}}--{{/sec}}
{{/sec}} 
