Hello {{winner.name}}, you have just won ${{winner.value}}!
{{#test}}
Line 1
{{/test}}
This is a test, test = {{test}}
{{#test}}
Line 2
{{/test}}
{{^test}}
Line 2
{{/test}}
{{^test}}
Line 2
{{/test}}
{{#test}}
Line 2
{{/test}}
{{^test}}
Line 2
{{/test}}
