Hello {{name}}, you have just won ${{value}}!
{{#if test}}
Yes! {{name}} is {{gender}}
{{/if}}
{{#if test}}
2nd If, {{name}} is {{{gender}}}
{{else}}
Else test, {{name}} is {{gender}}
{{/if}}
-TEST PATH-
{{#if test.name}}
Yes! {{subname}}
{{else}}
No! {{subname}}
{{/if}}
{{end}}
