<div class="yui3-u-1-2 member-status">
 <ul class="h-list">
 {{#with login_status}}
  {{#if is_login}}
   <li><a href="{{edit_account_link}}">Hello {{username}}</a></li>
   <li><a href="{{logut_link}}">Logout</a></li>
  {{/if}}
  {{#unless is_login}}
   <li>New User? <a href="{{register_link}}">Register Now</a></li>
   <li><a href="{{login_link}}">Login</a></li>
  {{/unless}}
  {{#with test}}
   {{testval}}
   {{{testval}}}
   {{#if testval}}YES{{/if}}
   {{#unless testval}}NO{{/unless}}
   {{#test2}}
    {{loopval}}
   {{/test2}}
   {{#each test3}}
    {{loopval}}
   {{/each}}
  {{/with}}
 {{/with}}
 </ul>
</div>
