Hello {{name}}, you have just won ${{value}}!
each partial....
{{#each winners}}
  {{> 001-simple-vars}}
--
  {{>017-hb-with}}
{{/each}}
end each.

if + with + partial:
{{#if test}}
w>{{#with people}}
  p>{{> 001-simple-vars}}<
<w{{/with}}
{{/if}}
