Hello {{name}}, you have just won ${{value}}!

. {{[!]}} !!
. KAKA {{[! # % & ( ) * + , . / ; < = > @ [ \ ^ ` { | } ~]}}
. K {{[![]}} X
. Hello {{winners.0.name}} !! Won ${{winners.0.value}} now~~
. Hello {{winners.1.name}} !! Won ${{winners.1.value}} later~~
. No {{winners.[!].name}} !!
