Hello {{name}}, you have just won ${{value}}!

. Test 1: {{#if ""}}OK{{/if}} !!
. Test 2: {{ [test].[a b]}} !!
. Test 3: {{ [te"st].cd}} !!
. Test 4: {{#if [te"st]}}OK{{/if}} !!
. Test 5: {{helper1 url "this is a test & OK"}} !!
. Test 6: {{[helper1] url "this is a test"}} !!
