Hello {{name}}, you have just won ${{value}}!

. Test 1: {{{helper1 url "this is a test & OK"}}} !!
. Test 2: {{{[helper1] url "this is a test"}}} !!
. Test 3: {{helper1  url  "this is a test & OK"}} !!
. Test 3: {{helper1  url  "string/arg.css"}} !!
. Test 4: {{[helper1]	url "this is a test"}} !!
. Test 5: {{helper2	url=url text="this is a test"}} !!
. Test 6: {{helper2	[ur"l]=url text="this is a test"}} !!
. Test 7: {{helper2 url=0 text=10}} !!
. Test 8: {{helper2 url=-1 text=1.3}} !!
