Hello {{name}}, you have just won ${{value}}!

. Test 1: {{{helper1 url text}}}
. Test 2: {{helper1 url text}}
. Test 3: {{helper1 test.url test.text}}
. Test 4: {{#each people}}
  * {{helper1 ../url ../text}} <= {{../url}} , {{../text}}, {{{../url}}}, {{{../text}}} !!
  * {{helper1 url text}} <= {{url}} , {{../text}} , {{{url}}}, {{{../text}}} :D
{{/each}}
