A
{{#each .}}
=> {{@key}} , {{.}} , {{@index}}, {{@first}}, {{@last}} , {{@../index}}, {{@../key}}, {{@../first}}, {{@../last}} # {{@../../index}} - {{@../../key}} .
 {{#each .}}
 =>> {{@key}} , {{.}} , {{@index}}, {{@first}}, {{@last}} , {{@../index}}, {{@../key}}, {{@../first}}, {{@../last}} # {{@../../index}} - {{@../../key}} .
  {{#each .}}
  =>>> {{@key}} , {{.}} , {{@index}}, {{@first}}, {{@last}} , {{@../index}}, {{@../key}}, {{@../first}}, {{@../last}} # {{@../../index}} - {{@../../key}} .
  {{/each}}
 {{/each}}
{{/each}}
